<form id="checkout-form" action="/checkout?_method=PUT" method="POST">
  <p>Please review your order.</p>
  <input type='hidden' name='orderId' placeholder=<%= data.id %>></input>
  <% let counter = 1 %>
  <% for (const food of data.items) { %>
    <div class="form-group">
      <label for=<%= [ food.name, counter ].join('-'); %>><%= food.name %></label>
      <input id=<%= [ food.name, counter ].join('-'); %> name=<%= food.id %> type="number" min="0" placeholder=<%= food.quantity %>></input>
    </div>
    <% counter++ %>
  <% } %>
  <button type='submit'>Submit Order</button>
</form>
