<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="restaurant-name">Papa Joe's Pizza</h1>
      <p class="load-text">Hot fresh pizza at the ring of a bell!</p>
      <div class='button-content'>
        <a href="/checkout"></a>
        <a href="/checkout" class="cart-btn">View Cart</a>
        </form>
      </div>
    </div>
  </section>

  <div class="album">
    <div class="food-container">
      <% for (let item of data) { %>

        <div class="row">
          <div class="col-md-4">
            <div class="card-container">
              <div class="card-top">
                <div class="category"><%= item.category %>:</div>
                <div class="food-name"><%= item.name %></div>
              </div>
              <img class="food-picture" width="100%" src="<%= item.picture %>">
              <div class="card-body">
                <p class="card-text"><%= item.description %></p>
                <div class="card-bottom">
                  <div class="btn-group">
                    <button type="button" class="add-to-cart" value=<%=item.id%>>Add to cart</button>
                  <span style="float:right; font-size:xx-large; color:#f19b79" ></span>
                    <button type="button" class="remove-from-cart" value=<%=item.id%>>Remove from cart</button>

                  </div>
                  <div class="food-details">
                    <div><%= item.size %></div>
                    <small class="price-muted"> $<%= item.cost %>.00</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <% } %>
    </form>
    </div>
  </div>

</main>
<%- include('../partials/footer') %>
