<%- include('../partials/head') %>
<%- include('../partials/header') %>


<main class="my-orders-main">
  <div class="my-orders-div"></div>
  <h3 class="my-orders">Pending Orders</h3>
  <div class="my-orders-table">
    <table class="table">
      <thead>
        <tr>
          <th class="table-header" scope="col">Order Date</th>
          <th class="table-header justify-right table-head-confirm-order" scope="col" >Confirm Order</th>
        </tr>
      </thead>
      <tbody>
        </tr>
        <% for (let order of orders.pending) { %>

          <form action="/updateTime" method="POST"></form>

          <tr class="move-tr">
            <td><%= new Date(order.order_date_time).toDateString() %></td>
            <td class="td-flex">
                <input type="hidden" name="orderId" class="orderId" value=<%=order.id%>>
                <input name="estimatedTime" class="time-box" type="text" required>
                <button type="button" class="my-orders-button  justify-right">Confirm</button>
            </td>
          </tr>
        </form>
        <% }%>
      </tbody>
    </table>
  </div>
  <div class="my-orders-div"></div>
  <h3 class="my-orders">Previous Orders</h3>
  <div class="my-orders-table">
    <table class="table">
      <thead>
        <tr>
          <th class="table-header" scope="col">Order Date</th>
          <th class="table-header  justify-right" scope="col">View Order</th>
        </tr>
      </thead>
      <tbody class="move-to-tbody">
          <tr >
          </tr>
      </tbody>
    </table>
  </div>
  <div class="my-orders-div"></div>

</main>
 <script type="text/javascript" src="/scripts/updateTime.js"></script>

<%- include('../partials/footer') %>

